:root{ /*"clase" donden definimos colores a usar (opcional pero recomendado)*/
    --blanco: #ffffff;
    --obscuro: #000000; 
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;


}

html{
    font-size: 62,5%;  /*conversion para web*/
    font-family: Krub,Arial, Helvetica, sans-serif;
    /*truco para model-boxes*/
    box-sizing: border-box;
}

*, *::before, *, *::after{
    /*truco para model-boxes*/
    box-sizing: inherit;
}

/*tipografia de titulos*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1,8rem;
}
h1,h2,h3{
    text-align: center;
}

body{
    font-size: 16px; /*el navegador tiene por defecto 16px en texto*/
}
.title{
    text-align: center;
    font-size: 3.8rem; /*root em 1rem=16px | 3.8 *16*/
}
.title span
{
    font-size: 2rem;
}

/*barra de navegacion*/
.contenedor{
    max-width: 120rem;
    /*margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto
    */
    margin: 0 auto;
}
.div-barra{
    background-color: var(--secundario);
}

.nave_prin a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar subrayado*/
    text-decoration: none;
    padding: 1rem;
}

.nave_prin{
    /*relleno, margen por dentro*/
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content para filas
      alingn-items para columnas*/
    /*justify-content: space-between;*/
    font-size: 2rem;
    font-weight: bold;
}

/*diseño responsive*/
@media (min-width: 768px){ /*si tiene almenos 768px (tablet) */
    .nave_prin{
        flex-direction: row; 
        justify-content: space-between;
    }
}

.nave_prin a:hover{ /*efecto mouse sobre elemento*/
    background-color: var(--primario);
    color: var(--obscuro);
}
.hero{
    background-image: url("../image/hero.jpg"); /*../regresa un directorio */
    background-repeat: no-repeat;
    background-size: cover; /*cover cubre la iamgen con todo el tamaño posible*/
     
    /**/
    height: 450px; /*Altura del elemento hero*/
    position: relative; /*manipula la posicion, padre siempre debe ser relativo*/
}
.cont-hero{
    position: absolute; /*tamaño del elemento pasdre, siempre debe ser absoluto*/
    background-color: rgba(0, 0, 0, .7);/*opacidad al 70%*/
    width: 100%;
    height: 100%;

    display: flex; /*alinea horizontal y verticalmente*/
    flex-direction: column; /*alinea en columna*/
    align-items: center;  /*hotizontal*/
    justify-content: center; /*vertical*/
}
.cont-hero p, .cont-hero h2{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end; /*se acomoda uno al terminar el otro*/
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    text-decoration: none;
    /*padding*/
    padding: 1rem 3rem; /*valor arriba y abajo | valor a los lados*/
    margin-top: 3rem; /*margen hacia arriba*/
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none; /*quito borde al boton*/
}
@media (min-width: 768px){
 .boton{
    width: auto;
 }
}
.boton:hover{
    cursor: pointer;
}

/* Mis servicios */
@media (min-width: 768px){
    .servicios{
        display: grid; /* poner el contentenido en grillas*/
        /*grid-template-columns: 1fr 1fr 1fr; columnas de la grilla | se le ponen 3 columnas | si solo se especifican 2 y hay 3 elementos el tercero lo pone debajo*/
        /*xfr | fr para crear las columnas, X cuantos espacios va tener entre ellas | por fraccion*/
        /*grid-template-columns: 33.33% 33.33% 33.33% | 15% 25% 30% ; por porcentaje*/
        grid-template-columns: repeat(3,1fr); /* repetir X veces | xfr*/   
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2; /*interlineado del texto*/
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    display: flex;
    border-radius: 100%; /*hacer que sea un circulo*/
    /*espaciado uniforme -----------desde squi le copian*/
    justify-content: space-evenly;
    align-items: center;
}
/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem,100%); /* (minimomanual, todalapantalla)
    ahorra mediaquery, le preguntamos al programa cual es mas pequeño
    si tengo un smartphone con 448px de ancho, ¿que valor tomará? 100% porque  equivale a 448 y 60rem es 960 px*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none; /*quita el borde del fieldset*/
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primario)
}
.contenedor-campos{

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;/*distribucion equitativa*/
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5;
    border-radius: .5rem;
}
.campo textarea{
    height: 20rem;
}
/*utilidades*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
/*Acomodar campos*/
@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        /*espacio entre cada fila*/
        grid-template-rows: auto auto 20rem;
    }
}
.campo:nth-child(3),
.campo:nth-child(4){
    /*ve de la columa 1 a la 3*/
    grid-column: 1/3;
}
.footer{
    text-align: center;
}
